HLP.WebService/Web References/Producao_NfeRetRecepcao_MS/NfeRetRecepcao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRetRecepcao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeRetRecepcao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="nfeCabecMsg" type="xs:string" />
            <xs:element minOccurs="0" name="nfeDadosMsg" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetRecepcaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="nfeRetRecepcaoResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="nfeRetRecepcao">
    <part name="parameters" element="tns:nfeRetRecepcao" />
  </message>
  <message name="nfeRetRecepcaoResponse">
    <part name="parameters" element="tns:nfeRetRecepcaoResponse" />
  </message>
  <portType name="NfeRetRecepcao">
    <operation name="nfeRetRecepcao">
      <input message="tns:nfeRetRecepcao" />
      <output message="tns:nfeRetRecepcaoResponse" />
    </operation>
  </portType>
  <binding name="NfeRetRecepcaoPortBinding" type="tns:NfeRetRecepcao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetRecepcao">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao/nfeRetRecepcao" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeRetRecepcao">
    <port name="NfeRetRecepcaoPort" binding="tns:NfeRetRecepcaoPortBinding">
      <soap:address location="https://producao.nfe.ms.gov.br:443/producao/services/NfeRetRecepcao" />
    </port>
  </service>
</definitions>